.restaurantImg {
    height: 300px;
    width: 300px;
    padding: 5px;
    text-align: center;
    border-radius: 80%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid #000;
}

#restaurant-normal {
    position: relative;
}

#restaurant-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0%;
    width: 100%;
    background: #d9534f;
    transition: 0.5s ease;
    z-index: 2;
    border-radius: 0.1rem;
}

#overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    display: none;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.restaurant-details {
    min-height: 20vh;
}
